#admin-menu
  %ul
    %li= link_to "Homepage", "/", :id => "home"
    %li= link_to "My Profile", edit_admin_person_path(current_user.person), :id => "admin-contacts"
  .signout
    %span.hmenu
      Signed in as
      %strong= link_to(current_user.name, edit_admin_person_path(current_user.person.id))
    %span= link_to "sign out", session_path, :method => :delete
  = clear
<div id="top-margin"></div>
%style{:type => "text/css"}
  -if !@settings.favicon_file_name.blank?
    ==#home {background-image: url('#{@settings.favicon(:original)}')}
  -else
    ==#home {background-image: url('#{css_icon("Home")}')}
  ==#admin-home {background-image: url('#{css_icon("Home")}')}
  ==#admin-pages {background-image: url('#{css_icon("Clipboard Copy")}')}
  ==#admin-blogs {background-image: url('#{css_icon("Write")}')}
  ==#admin-galleries {background-image: url('#{css_icon("Picture")}')}
  ==#admin-assets {background-image: url('#{css_icon("Folder2")}')}
  ==#admin-settings {background-image: url('#{css_icon("Gear")}')}
  ==#admin-documents {background-image: url('#{css_icon("Folder3")}')}
  ==#admin-users {background-image: url('#{css_icon("Lock Open")}')}
  ==#admin-contacts {background-image: url('#{css_icon("User")}')}
  ==#admin-events {background-image: url('#{css_icon("Clock")}')}
  ==#admin-testimonials {background-image: url('#{css_icon("Bubble 3")}')}
  ==#admin-inquiries {background-image: url('#{css_icon("Bubble 1")}')}
  ==#admin-product {background-image: url('#{css_icon("Cube")}')}
  ==#admin-store {background-image: url('#{css_icon("Cart")}')}
  ==#admin-links {background-image: url('#{css_icon("Link")}')}
  ==#admin-order {background-image: url('#{css_icon("Currency Dollar")}')}
  ==#admin-newsletters {background-image: url('#{css_icon("Document")}')}